﻿@model Mediafy.Models.ProductViewModel

@{
    ViewBag.Title = "Populära tidningar";
    Layout = "_Layout";
}

<h2 class="product-title">Populära tidningar</h2>

<div class="productcard-container">
    @foreach (var product in Model.Products)
    {
        <div class="productcard js-productcard" data-url="@Url.Action("ProductCard", "Product", new {productName = product.Slug})">
            <div class="productcard__img-container">
                <img class="productcard__img-container" src="@product.Image" width="40"/>
            </div>
            <div class="productcard__name">@product.Name</div>
            <div class="productcard__price">@product.FromPrice</div>
            <div class="productcard__read-more">Läs mer</div>
        </div>
    }
</div>
