﻿@model Mediafy.Models.ProductModel

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<h2 class="product-title">@Model.Name</h2>

<div class="product-content">
    <div class="product-content__img-container">
        <img src="@Model.Image" width="40"/>
    </div>
    <div class="product-content__text-container">
        <div class="product-content__text-container__description">@Model.Description</div>
        <div class="product-content__text-container__price">@Model.FromPrice <span class="cta-button">Lägg till i varukorg</span></div>
        
    </div>
</div>