﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Added CSS for assignment (site.sass)
   I used an online SASS -> css converter. */
.navbar-inverse {
    background-color: #b73235;
}
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}


.productcard-container {
    display: flex;
    flex-wrap: wrap;
}
.product-title {
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 0 15px 20px 15px;
    border-bottom: 2px solid;
}
.productcard {
    padding: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    flex: 0 0 50%;
}
@media (min-width: 768px) {
    .productcard {
        flex: 0 0 25%;
    }
}
.productcard:hover {
    background-color: #9fd6ff;
}
.productcard__img-container {
    padding-bottom: 127%;
    position: relative;
    overflow: hidden;
}
.productcard__img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.productcard__name, .productcard__price, .productcard__read-more {
    text-align: center;
}
.productcard__name {
    padding-top: 10px;
    font-size: 18px;
}
.productcard__read-more {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}
.productcard__read-more:hover {
    color: #58a123;
}
.product-content {
    display: flex;
    flex-direction: column-reverse;
}
.product-content__img-container {
    min-width: 25%;
}
.product-content__img-container img {
    width: 100%;
}
@media (min-width: 768px) {
    .product-content {
        flex-direction: row;
    }
    .product-content__img-container {
        margin-right: 20px;
    }
}
.product-content__text-container__price {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 32px;
    display: flex;
    align-items: center;
}
.cta-button {
    font-size: 18px;
    padding: 5px 15px;
    border: 1px solid #000;
    background: #abcabc;
    margin-left: 20px;
    cursor: pointer;
}
.cta-button:hover {
    background: #58a123;
}
 