﻿.productcard-container {
  display: flex;
  flex-wrap: wrap;
}

.product-title {
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 0 15px 20px 15px;
  border-bottom: 2px solid;
}

.productcard {
  padding: 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  flex: 0 0 50%;

    @media (min-width: 768px) {
    flex: 0 0 25%;
  }
  
  
  &:hover {
    background-color: #9FD6FF;
  }
  
  &__img-container {
    padding-bottom: 127%;
    position: relative;
    overflow: hidden;
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
  }


  &__name,
  &__price,
  &__read-more {
    text-align: center;
  }

  &__name {
    padding-top: 10px;
    font-size: 18px;
  }

  &__read-more {
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
  
      &:hover {
          color: #58A123;
      }
    }
  }


.product-content {
  display: flex;
  flex-direction: column-reverse;


    &__img-container {
      min-width: 25%;
  
      img {
        width: 100%;
      }
  }

  @media (min-width: 768px) {
    flex-direction: row;
    
    &__img-container {
      margin-right: 20px;
    }
  }

  &__text-container {
  
    &__price {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 32px;
      display: flex;
      align-items: center;
    }
  }
}

.cta-button {
  font-size: 18px;
  padding: 5px 15px;
  border: 1px solid #000;
  background: #ABCABC;
  margin-left: 20px;
  cursor: pointer;

  &:hover {
    background: #58A123;
  }
}





















